<%- include('../parts/header') %>

<%- include('hwNavbar') %>

<div class="container">
    <div class="row my-3">
        <div class="col">
            <% if(locals.loginData) { %>

            <h3><%= loginData.name %> , 你好</h3>
            <a class="btn btn-primary" href="/homework/logout">登出</a>

            <% } else { %>
            <form name="form1" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="user">User</label>
                    <input type="text" class="form-control" id="user" name="user" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>

                <button type="button" class="btn btn-primary submit">Submit</button>
            </form>

            <% } %>
        </div>
    </div>

    <script>
        $('.submit').on('click', function () {
            fetch('/homework', {
                method: 'POST',
                body: new FormData(document.form1)
            })
                .then(r => r.json())
                .then(obj => {
                    location.reload()
                })
        })


    </script>

</div>
<%- include('../parts/footer') %>